.error{
    color: red;
}

.button {
    background-color: green;
    width:auto;
    height: 50px;
    color:white;
    margin-top:5px; 
    border-radius: 4px;
}

table, th, td {
    border: 1px solid black;
  }

  th, td {
    padding: 15px;
  }

  th {
    text-align: left;
  }